
<div id="design">
</div>
<div id="signup-container">
  <h1 id="signup-header">Sign Up!</h1>
  <form class="signup-form" action="<%= users_url %>" method="post">

    <label class="input-container" for="username-input">Username
      <br>
      <input type="text" name="user[username]" placeholder="Enter username" id="username-input">
    </label>

    <br>

    <label class="input-container" for="password-input">Password
      <br>
      <input type="password" name="user[username]" placeholder="Enter password" id="username-input">
    </label>

    <button class="submit-btn" type="submit" name="button">SIGN IN</button>
  </form>
</div>
